input, button, label, select, span, .selected, td, tr, .filter-label > input, div, p {
    font-size: 0.83rem !important;
    font-weight: 400 !important;
}

.modal-title {
    font-size: large;
}

.width-modal {
    width: 75rem !important;
    max-width: none !important;
}

.has-error, .has-error > div {
    border-color:red !important;
}

th, td {
    padding: 3px !important;
    text-align: center;
}

th {
    font-weight: 500 !important;
    border-color: rgb(180, 179, 179) !important;
    /* background-color: rgba(0,0,0,.075) !important; */
}

.btn10px {
    font-size: 10px !important;
}

.align-center {
    display:flex !important;
    justify-content:center !important;
    align-items: center !important;
}
/* os campos select da tabela pra edição de valores tem que ficar com o conteúdo no centro, visto que a tabela é centralizada */
.select-center > div > div {
    justify-content:center !important;
    text-align: center !important;
}

.table thead th {
    vertical-align: middle;
}

.div-table-2px {
    border: 2px solid #dee2e6 !important;
}

hr {
    border: 1px solid #dee2e6 !important;
}

.table td, .table th {
    vertical-align: middle;
}
/* ajusta item do checkbox pra ficar alinhado na mesma altura do texto */
.custom-control-label, .custom-control-label::before, .custom-control-label::after {
    top: .10rem !important;
    vertical-align: middle;
}

/* são as configurações das tags react-select questão de altura e posicionamento das setinhas */
.css-yk16xz-control, .css-1pahdxg-control{
    height: calc(1.5em + .75rem + 2px) !important;
    min-height: calc(1.5em + .75rem + 2px) !important;
}
.css-1hwfws3 {
    position: initial !important;
}
.css-tlfecz-indicatorContainer, .css-1gtu0rj-indicatorContainer{
    padding: 6px !important;
    position: initial !important;
}

/* ------- CONFIGURAÇÕES NECESSÁRIAS PRO DATATABLE-UI ------- */

/* header dos cabeçalho das tabelas */
th > span > div, th > span {
    font-weight: 500 !important;
}
/* buttons que estão nas linhas */
td > div > button {
    padding: 2px 6px !important;
}
/* centralizar todas as células das colunas */
.MuiTableCell-root {
    text-align: center !important;
}
/* o ações (actions) trás este ícone não sei pra que, pro texto ('ações') ficar alinhado ao centro tiro ele */
.MuiTableSortLabel-iconDirectionAsc {
    display: none !important;
}
/* quando faço agrupamento (grouping) quero alinhar os campos agrupados a esquerda, este é o texto que faz isto */
.MuiTableCell-paddingNone{
    text-align: left !important;
}
/* retirado o padding e margin do accord */
.MuiExpansionPanelSummary-content, .MuiExpansionPanelSummary-root {
    margin: 0px !important;
    padding: 0px 3px !important;
}
/* diminuído a altura */
.MuiExpansionPanelSummary-root {
    min-height: 30px !important;
}
/* dando um destaque pro accordion */
.MuiExpansionPanelSummary-root {
    border-color: rgba(0,0,0,.075) !important;
    background-color: rgba(0,0,0,.075) !important;
    color: #212529 !important;
}
/* no accordion tem que ser block pois posso ter vários elementos dentro do destails */
.MuiExpansionPanelDetails-root {
    display: block !important;
}
/* ícone da setinha do expansion tem um padding muito alto (12px), diminuo pra 3px. */
.MuiExpansionPanelSummary-expandIcon {
    padding: 3px 12px !important;
}

