input, button, label, select, span, .selected, td, .filter-label > input {
    font-size: 0.83rem !important;
    font-weight: 530;
}

.modal-title {
    font-size: large;
}

.width-modal {
    width: 50rem !important;
    max-width: none !important;
}

/* .fields-of-table {
    font-size: 0.75rem !important;
    font-weight: 600;
} */

.has-error, .has-error > div {
    border-color:red !important;
}

th, td {
    padding: 3px !important;
    text-align: center;
}

th {
    font-size: 0.83rem !important;
    font-weight: 600 !important;
    border-color: rgb(180, 179, 179) !important;
    background-color: rgba(0,0,0,.075) !important;
}

.filter-label {
    margin-bottom: 2px;
    margin-top: 2px;
}

.btn10px {
    font-size: 10px !important;
}

.align-center {
    display:flex !important;
    justify-content:center !important;
    align-items: center !important;
}

.table thead th {
    vertical-align: middle;
}

.table td, .table th {
    vertical-align: middle;
}

.css-yk16xz-control, .css-1pahdxg-control{
    height: calc(1.5em + .75rem + 2px) !important;
    min-height: calc(1.5em + .75rem + 2px) !important;
}

.css-1hwfws3 {
    position: initial !important;
}

.css-tlfecz-indicatorContainer, .css-1gtu0rj-indicatorContainer{
    padding: 6px !important;
    position: initial !important;
}