:root{
    --bg-dark: #1A2F3A;
    --theme-ui-colors-bg: #5f4981; /* rgb(109, 55, 145);*/

    --logo-height: 75px;
    --header-height: 75px;
    --aside-width: 75px;
    --footer-height: 40px;

    -shadow:
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: var(--aside-width) 1fr; /* referenciando o var lá em cima */
    grid-template-rows: 
        var(--header-height)
        1fr
        var(--footer-height);
    grid-template-areas: 
        "logo header"
        "content content"
        "footer footer";
    height: 100vh;
    background-color: #f5f5f5;
}

aside.logo {
    grid-area: logo;
    background-color: var(--theme-ui-colors-bg);
}

header.header {
    grid-area: header;
    background-color: var(--theme-ui-colors-bg);
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
    background-color: var(--theme-ui-colors-bg);
}

.text-settings-header {
    color:  #fff !important;
    font-size: 0.95rem !important;
    font-weight: 350 !important;
}

.text-settings-general {
    font-size: 0.85rem !important;
    font-weight: 350 !important;
}

/* .header-table{
    font-size: 1rem !important;
    font-weight: 600;
    border-color: gray !important;
    background-color: rgba(0,0,0,.075) !important;
} */

.font-weight-600{
    font-weight: 500 !important;
}